/app/bootstrap*
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/config/parameters.yml
/phpunit.xml*
/vendor/
/web/bundles/
/web/media/cache/*
/web/uploads/*
/log/*
gitignore.txt
\.vscode/launch\.json
