/* ------------------------- */
/*   FONTS                   */
/* ------------------------- */
@font-face {
	src: url(fonts/Montserrat-Regular.ttf);
	font-family: montserrat;
}

/* ------------------------- */
/*   GENERAL                 */
/* ------------------------- */

html, body {
	height: 100%;
	width: 100%;
	font-family: montserrat, "Trebuchet MS", Helvetica, sans-serif;
	color: #191950;
}

body {
	/*
    background: linear-gradient(to right, rgb(250,250,250) 0%, (234,234,250) 100%);
	background: -moz-linear-gradient(right, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
    background: -o-linear-gradient(right, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
	background: -webkit-linear-gradient(left, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
	*/
	background: #FFFFFF;
	background: url(../img/bg_penalty-kick_fade.jpg) no-repeat center center fixed;
	background-size: cover;
	/* padding-top: 60px; */
}
#content {
	min-height: 800px;
	margin-top: 50px;
	background-color: #FFFFFFAA;
	padding: 0 20px 0 20px;
	border-left: 3px solid #4F5261;
	border-right: 3px solid #4F5261;
	box-shadow: -0.2em 0 1em #4F5261, 0.2em 0 1em #4F5261;
}
a:hover, a:link, a:visited, a:active {
	text-decoration: none;
}
.well {
    background: linear-gradient(to bottom, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
	background: -moz-linear-gradient(top, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
    background: -o-linear-gradient(top, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
    background: -webkit-linear-gradient(top, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
	border-color: #191950;
}
.well-transparent-blue {
	border: 2px solid #E0F0FF;
	border-radius: 15px;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
	background-color: #19195077;
}
.dark-blue-grad {
    background: linear-gradient(to bottom, rgb(43,43,136) 0%, rgb(25,25,80) 100%);
	background: -moz-linear-gradient(top, rgb(43,43,136) 0%, rgb(25,25,80) 100%);
    background: -o-linear-gradient(top, rgb(43,43,136) 0%, rgb(25,25,80) 100%);
    background: -webkit-linear-gradient(top, rgb(43,43,136) 0%, rgb(25,25,80) 100%);
	color: #E0F0FF;
}
.btn-primary {
	border-color: #191950;
	color: #E0F0FF;
}
.btn-primary:hover {
	border-color: #99CCFF;
	color: #99CCFF;
}
h2 {
	font-size: 250%;
	font-weight: 700;
}
h3 {
	font-size: 200%;
	font-weight: 700;
	font-family: montserrat;
}
.alert-danger ul {
	list-style-type: none;
}
.foot5x5_tooltip {
	position: absolute;
	top: 0;
	left: 0;
	background: -moz-linear-gradient(top,  rgb(252,252,255) 0%, rgb(224,240,255) 100%);
    background: -webkit-linear-gradient(top,  rgb(252,252,255) 0%,rgb(224,240,255) 100%);
    background: -o-linear-gradient(top,  rgb(252,252,255) 0%,rgb(224,240,255) 100%);
    background: linear-gradient(to bottom, rgb(252,252,255) 0%,rgb(224,240,255) 100%);
	padding: 3px 10px;
	font-style: italic;
	font-weight: 700;
	color: #191950;
	border-radius: 4px;
	border: 1px solid #191950;
	opacity: 0;
	transform: translateX(-10px);
	transition: opacity 0.5s, transform 0.5s;
}
.foot5x5_tooltip.visible {
	opacity: 1;
	transform: translateX(0);
}

/* ------------------------- */
/*   NAV BAR                 */
/* ------------------------- */

@media (min-width: 768px) and (max-width: 1200px) {
	/*
	.navbar-fixed-top .navbar-collapse {
		max-height: 400px;
	}
	.navbar-header {
        float: none;
    }
	.navbar-left, .navbar-right {
        float: none !important;
    }
	.navbar-toggle {
        display: block;
	}
	.navbar-collapse.collapse {
        display: none!important;
	}
	.navbar-nav {
        float: none!important;
        margin-top: 7.5px;
	}
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
		display:block !important;
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	*/
	#content {
		min-height: 800px;
		margin-top: 100px;
	}
}
a.navbar-brand {
	padding: 5px;
}
#navbar-site-title li a {
	font-size: 18px;
}

.navbar {
	padding: 0;
	font-size: 1.1em;
}
.navbar-brand {
	min-height: 40px;
	padding: 5px 15px 5px;
}

.navbar-custom {
	border-bottom: 3px solid #4F5261;
}
.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li.active a:hover {
	background-color: #4F5261;
}
.navbar-custom .navbar-nav li a {
	color: #E0F0FF;
	padding-left: 8px;
	padding-right: 8px;
}
.navbar-custom .navbar-nav li a * {
	display: inline-block;
	vertical-align: middle;
}
.navbar-custom .navbar-nav li a span.glyphicon {
	margin-right: 5px;
}
.navbar-custom .navbar-nav li a:hover, 
.navbar-custom .navbar-nav li.active a:hover {
	color: #99CCFF;
}

.dropdown a {
	max-width: 200px;
	white-space: nowrap;
}
.dropdown a span {
	vertical-align: middle;
}
.dropdown a span:not(.glyphicon):not(.caret) {
	max-width: 150px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.dropdown.open a.dropdown-toggle, 
li.dropdown.open a.dropdown-toggle:hover {
	background-color: #4F5261 !important;
}
li.dropdown.open ul.dropdown-menu,
li.dropdown.open ul.dropdown-menu li a {
	background-color: #191950;
}

.navbar-right .dropdown-menu {
	text-align: right
}

/* ------------------------- */
/*   WELCOME / HOME          */
/* ------------------------- */

#landing {
	background: url(../img/bg_penalty-kick.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.landing-content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #E0F0FF;
	max-width: 500px;
	border-bottom: 3px solid #4F5261;
}
.landing-content h1 {
	font-size: 500%;
	font-weight: 700;
	text-shadow: 3px 3px 5px rgba(0, 0, 86, 1);
}
.landing-content h2 {
	font-size: 300%;
	font-weight: 700;
	text-shadow: 3px 3px 5px rgba(0, 0, 86, 1);
}
.landing-content h3 {
	font-size: 200%;
	font-weight: 500;
	text-shadow: 3px 3px 5px rgba(0, 0, 86, 1);
}
.landing-content img {
	margin: auto;
	display: block;
	transition: all 0.5s ease-out;
}
.landing-content img:hover {
	transform: rotate(10deg) scale(1.15, 1.15);
}
.landing-content .form-horizontal {
	padding-top: 20px;
}
.landing-buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}
.landing-buttons .btn {
	display: grid;
	grid-template-columns: 1fr 2fr 10fr;
	align-items: center;
	grid-column-gap: 5px;
	margin: 5px 0;
	height: 70px;
	width: 200px;
	white-space: normal;
	border: 2px solid;
	text-align: left;
	transition: all 0.5s ease-out;
}
.landing-buttons .btn .glyphicon {
	top: -1px;
	grid-column-start: 2;
	line-height: 20px;
}
.landing-buttons .btn-success {
	border-color: #005C1F;
}
.landing-buttons .btn-primary {
	border-color: #191950;
}
.landing-buttons .btn-success:hover {
	border-color: #b3ffb3;
	color: #b3ffb3;
}
.landing-buttons .btn-primary:hover {
	border-color: #99CCFF;
}
.landing-buttons .btn:hover {
	transform: scale(1.15, 1.15);
}

.home-padding {
	padding: 40px 0;
}
.home-padding img {
	width: 100%
}
.home-container h2 {
	font-size: 250%;
	font-weight: 700;
}
.home-container p {
	font-size: 130%;
	font-weight: 500;
}
.home-container span.glyphicon {
	margin-right: 10px;
}
.grid {
	padding: 0 20px 0 20px;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
#home-create .grid {
	margin-top: 50px;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 2fr 2fr;
	z-index: 100;
}
.grid > img {
	margin: auto;
	border: solid 1px #191950;
	width: 260px;
	height: 200px;
	transition: transform 0.5s ease-out;
}
#home-create img:hover {
	transform: scale(1.2, 1.2);
	outline: 2px solid #191950;
}
#home-join .row div {
	min-height: 300px;
}
#home-join .row div h2 {
	vertical-align: middle;
}
#home-join img {
	width: 100%;
	height: auto;
	max-width: 555px;
    max-height: 360px;
}
#fixed {
	background: url(../img/bg_net.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
	border-top: 3px solid #4F5261;
	border-bottom: 3px solid #4F5261;
}

#welcome-communities {
	margin-top: 10px;
}
#welcome-communities li {
	border: 2px solid #191950;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	background-color: #E0F0FF;
	height: 42px;
	max-width: 75%;
	margin: auto;
	padding: 0;
	margin-top: 5px;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}
#welcome-communities li:hover {
	background-color: #99CCFF;
	transform: translate(20px, 0);
}
#welcome-communities a {
	display: flex;
	height: 100%;
	width: 100%;
	font-weight: bold;
	justify-content: center;
	align-items: center;
}

/* ------------------------- */
/*   COMMUNITY               */
/* ------------------------- */
#community-container {
	padding: 15px;
	overflow: auto;
}
#community-info .btn {
	display: inline-block;
	width: auto;
	margin-bottom: 10px;
	text-align: left;
}
#community-info h3 {
	border-bottom: 1px solid #191950;
	margin: 0px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
#community-info h3 span {
	color: #191950;
	padding: 0;
}
#community-info table {
	border-left: 5px solid #191950;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
#community-info tr {
	line-height: 30px;
}
#community-info td:not(.community-info-label) {
	font-weight: bold;
}
.community-info-label {
	color: #2447B2;
	padding-right: 20px;
	padding-left: 20px;
	width: 250px;
}
#community-info td .fa {
	padding: 0 0 0 5px;
	font-size: 18px;
	color: #191950;
	vertical-align: middle;
}
#community-info td .fa:hover {
	color: #99CCFF;
}
@media (max-width: 768px) {
	#community-info {
		margin-top: 10px!important;
		margin-left: 0!important;
		width: 100%;
	}
	#community-info table {
		border-left: 0!important;
	}
	.community-info-label {
		padding-left: 0!important;
	}
	#community-info td .fa {
		padding: 0;
	}
}

/* ------------------------- */
/*   TRIM FORM               */
/* ------------------------- */
#trim-form-container {
	border-bottom: 1px solid #4F5261;
	padding: 0;
	margin-bottom: 15px;
	min-width: 360px;
}
#trim-form-container .well {
	color: #191950;
	padding: 12px;
}
#trim-form-container .well select {
	border-color: #191950;
	background-color: rgba(0, 0, 0, 0);
	color: #191950;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}
#trim-form-container .well select:hover {
	background-color: #99CCFF;
}

@media (max-width: 768px) {
	#trim-form-container .form-group {
		margin-bottom: 0;
		margin-right: 0;
	}
	#trim-form-container .well {
		max-width: 50%;
		min-width: 250px;
	}
	#trim-form-container select {
		margin-bottom: 5px;
		margin-left: 0 !important;
		margin-right: 0 !important;
		max-width: 150px;
	}	
}


/* ------------------------- */
/*   RESULTATS               */
/* ------------------------- */
div#results-container {
	padding: 0;
}
#results-container div:not(.alert) {
	padding: 0;
}
table thead.bg-primary {
	background-color: #191950;
	color: #E0F0FF;
}
.result-table {
	margin-top: 10px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #191950;
}
.result-table .result-score {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	vertical-align: middle;
	background-color: #FFFFFF;
}
.result-table .result-victory {
	color: #005C1F;
}
.result-table .result-draw {
	color: #85878B;
}
.result-table .result-defeat {
	color: #990000;
}
.result-table .result-score input {
	text-align: center;
	color: #006dcc;
	margin: auto;
	width: 80%;
}
.result-table td {
	padding: 0!important;
	background-color: #FFFFFF;
	border: none!important;
	border-top: 1px solid #191950!important;
}
.result-table .result-teamA dl {
	text-align: left;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}
.result-table .result-teamB dl {
	text-align: right;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}
.result-table dt {
	border-top: 1px solid #E0E0E0;
	padding: 2px;
}
.result-table dt:hover {
	background: -moz-linear-gradient(top,  rgb(224,240,255) 0%, rgb(204,218,250) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(224,240,255)), color-stop(100%,rgb(204,218,250)));
    background: -webkit-linear-gradient(top,  rgb(224,240,255) 0%,rgb(204,218,250) 100%);
    background: -o-linear-gradient(top,  rgb(224,240,255) 0%,rgb(204,218,250) 100%);
    background: -ms-linear-gradient(top,  rgb(224,240,255) 0%,rgb(204,218,250) 100%);
    background: linear-gradient(to bottom, rgb(224,240,255) 0%,rgb(204,218,250) 100%);
}
.result-table a {
	display: inline-block;
	height: 100%;
	width: 100%;
}
.result-table dt img {
	border: 1px solid #191950;
	height: 40px;
	width: 40px;
}
.result-table dt span {
	color: #191950;
	display:inline-block;
	vertical-align: middle;
}
@media (max-width: 600px) {
	.result-table dt {
		white-space: nowrap;
	}
	.result-table dt span {
		overflow: hidden;
		width: 100px;
		text-overflow: ellipsis;
	}
}
.result-table .result-teamA dt span {
	padding-left: 10px;
}
.result-table .result-teamB dt span {
	padding-right: 10px;
}
table.result-table #datepicker {
	/* color: #006dcc; */
	/* width: 200px;
	height: auto; */
}
table.result-table #datepicker input {
	/* color: #006dcc; */
	color: #006dcc;
	text-align: center;
}
.players-draggable, .players-droppable {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	width: 100%;
}
#teamA-sortable, #teamB-sortable, #teamA-droppable, #teamB-droppable {
	min-height: 180px;
}
.players-droppable li, .players-draggable li {
	margin-top: 5px;
	margin-left: 7px;
	padding: 0px;
	float: left;
    font-size: 1em;
	text-align: center;
	height: 30px;
    line-height: 32px;
    cursor: move;
}
li.player-droppable {
	border-style: dashed;
}
#players-draggable li.ui-draggable-dragging,
#players-draggable li:hover {
	background: #99CCFF;
}
#players-draggable li {
	width: 30%;
}
#teamA-sortable li, #teamB-sortable li, .players-droppable li {
	width: 90%;
}
li.player-droppable.ui-state-highlight {
	/* background: #99CCFF; */
	background: -moz-linear-gradient(top,  rgb(224,240,255) 0%, rgb(153,204,255) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(224,240,255)), color-stop(100%,rgb(153,204,255)));
    background: -webkit-linear-gradient(top,  rgb(224,240,255) 0%,rgb(153,204,255) 100%);
    background: -o-linear-gradient(top,  rgb(224,240,255) 0%,rgb(153,204,255) 100%);
    background: -ms-linear-gradient(top,  rgb(224,240,255) 0%,rgb(153,204,255) 100%);
    background: linear-gradient(to bottom, rgb(224,240,255) 0%,rgb(153,204,255) 100%);
	border-color: #191950;
	border-style: solid;
	color: #191950;
	/* text-shadow: -1px -1px 0px rgba(255,255,255,.5); */
}
li.player-droppable.ui-state-hover {
	background: #E0F0FF;
	border-color: #191950;
}
li.player-droppable:hover {
	color: #4477B6;
}
#players-draggable li.ui-state-default {
    position: relative;
}
.ui-sortable-placeholder {
    border: 2px dashed #006dcc;
    background: #c2e0ff;
}
#players-draggable li.ui-state-default:first-child {

}
.player-dropped {
	display: none;
}

.result-matchPlayer {
	height: 220px;
	width: 300px;
	/* display: none; */
	position: absolute;
	border: 1px solid #191950;
	z-index: 100;
}


/* ------------------------- */
/*   CLASSEMENT              */
/* ------------------------- */
div#standing-container {
	padding: 0;
	min-width: 500px;
	overflow-x: auto;
}
#standing-container div:not(.alert) {
	padding: 0;
}
table#standing-table {
	border: none;
}
table#standing-table tr td,
table#standing-table tr th {
	border: none;
}
table#standing-table thead tr th.standing-left-column {
	text-align: left;
	padding-left: 5px;
}
table#standing-table .standing-center-column {
	text-align: center;
}
table#standing-table > tbody > tr.standing-mid-table:nth-child(odd) > td {
   background-color: #E0F0FF;
}
table#standing-table > tbody > tr.standing-mid-table:nth-child(even) > td {
   background-color: #F3F8FF;
}
tbody > tr.standing-first-player > td {
	background-color: #bdf0c7;
}
tbody > tr.standing-last-player > td {
	background-color: #f2cdcd;
}
table#standing-table > tbody > tr:nth-child(3) > td {
   border-bottom: 2px solid #bdf0c7;
}
table#standing-table > tbody > tr:nth-last-child(3) > td {
   border-top: 2px solid #f2cdcd;
}
table#standing-table tbody tr td {
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
	color: #191950;
}
/*
table#standing-table tr td,
table#standing-table tr th {
	border-left: none;
	border-right: none;
	border-top: 1px solid #191950;
	border-bottom: 1px solid #191950;
}
*/
table#standing-table tbody tr td div.standing-player {
	padding: 0px;
	margin: 0px;
}
table#standing-table tbody tr td div.standing-player img {
	border: 1px solid #191950;
	margin-top: 1px;
	margin-bottom: 1px;
	height: 40px;
	width: 40px;
}
table#standing-table tbody tr td div.standing-player strong {
	padding-left: 10px;
}


/* ------------------------- */
/*   JOUEURS                 */
/* ------------------------- */
#players-container {
	padding: 0;
	padding-top: 20px;
}
#players-photos {
	display: flex;
	padding: 0;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
}
#players-photos .player-photo {
	display: inline-block;
}

#players-photos .profile-pic {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin: 0 2px 2px 0;
}
#players-photos .profile-pic p {
	position: absolute;
	top: 167px;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 30px;
	margin: 0;
	height: 30px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	transition: opacity 0.5s ease;
	border-top: 1px solid #99CCFF;
}
#players-photos .profile-pic:hover {
	border-color: #99CCFF;
}
#players-photos .profile-pic:hover p {
	opacity: 0;
}

/* ------------------------- */
/*   POPUPS                  */
/* ------------------------- */
/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.8);
} 
/* Inner */
.popup-inner {
	width:90%;
	min-width: 350px;
	max-width: 700px;
	height: 80vh;
    padding: 40px;
    padding-right: 20px;
    position:absolute;
    top: 10vh;
    left:50%;
    -webkit-transform:translate(-50%, 0%);
    transform:translate(-50%, 0%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:30px;
    background:#fff;
}
.popup-mini-inner {
	height: 300px;
}
.popup-upload {
	padding: 10px;
	height: 180px;
	width: 60%;
}
.popup-edit-user-info {
	height: 450px;
}
.popup-edit-cmn-info {
	height: 450px;
}
.popup-inner-scroll {
    width:100%;
    height:100%;
    margin-top: 10px;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup-inner-scroll::-webkit-scrollbar {
    width: 10px;
}
.popup-inner-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(25,25,80,0.3); 
    border-radius: 10px;
}
.popup-inner-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(25,25,80,0.5); 
}

/* popup forms */


/* temporary pop-up until community creation will be ready */
.popup-create-community {
	padding: 10px;
	height: auto;
	top: 30vh;
	width: 60%;
}
.popup-create-community .popup-inner-scroll {
    width:100%;
	height:100%;
	margin:0;
    padding: 15px 30px;
    overflow-y: auto;
	overflow-x: auto;
}


/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:25px;
    right:25px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,60,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
}
.popup-player-header,
.popup-player-stats,
.popup-player-palm {
	min-width: 320px;
}
.popup-player-header {
	border-bottom: 1px solid #191950;
	min-height: 220px;
	width: 100%;
	overflow: auto;
	padding-bottom: 20px;
}
.popup-mini-inner .popup-player-header {
	border-bottom: none;
}
.popup-player-pic {
	border: 2px solid #191950;
	float: left;
	height: 200px;
	width: 200px;
	margin-right: 30px;
}
.popup-player-stats {
	border-bottom: 1px solid #191950;
	padding-bottom: 20px;
}
.popup-player-info {
	float: left;
	margin-left: 0;
}
.popup-player-info h2 {
	margin-top: 0;
}
.popup-player-info table,
.popup-player-palm table {
	border-left: 5px solid #191950;
}
.popup-player-info tr,
.popup-player-palm tr,
.popup-player-stats tr {
	line-height: 25px;
}
.popup-player-info td:not(.popup-player-label),
.popup-player-palm td:not(.popup-player-label) {
	font-weight: bold;
}
.popup-player-label {
	color: #2447B2;
	padding-right: 20px;
	padding-left: 20px;
}
.popup-player-trim,
.popup-player-eval {
	color: #2447B2;
}
.popup-player-best-rank {
	color: #005C1F;
}
.popup-player-worst-rank {
	color: #990000;
}
@media (max-width: 700px) {
	.popup-player-info {
		margin-top: 10px;
		width: 100%;
	}
	.popup-player-info table,
	.popup-player-palm table {
		border-left: 0!important;
	}
	.popup-player-label {
		padding-left: 0!important;
	}
}


/* ------------------------- */
/*   TIRAGE                  */
/* ------------------------- */
#feedback {
	font-size: 1em;
}
#players-selectable .ui-selecting {
	background: #c2e0ff;
}
#players-selectable .ui-selected {
	background: #006dcc;
	color: white;
}
#players-selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#players-selectable li {
	margin: 3px;
	margin-left: 0;
	margin-right: 5px;
	padding: 2px;
	float: left;
	text-align: center;
	font-size: 1em;
	height: 30px;
	width: 30%;
	min-width: 80px;
	max-width: 130px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
div#random-container {
	padding: 0;
	margin-top: 10px;
}
div#random-select-section {
	border-bottom: 1px solid #191950;
	display: block;
	padding: 0;
	min-width: 350px;
	float: left;
}

@media (min-width: 992px) {
	div#random-select-section {
		border-right: 1px solid #191950;
		border-bottom: none;
		min-height: 320px;
	}
	div#random-select-section h3 {
		margin-top: 6px;
		margin-bottom: 18px;
	}
	div#random-teams-section {
		margin-top: 0!important;
		margin-left: 10px!important;
	}
	div#random-teamA,
	div#random-teamB {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}
div#random-teams-section {
	display: block;
	padding-left: 0;
	padding-right: 0;
	float: left;
	margin-top: 15px;
}
div#random-teamA,
div#random-teamB {
	padding-left: 0;
	min-width: 200px;
	padding-right: 10px;
}
div#random-draws-container {
	padding: 0;
}
div#random-btn {
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
div#random-btn input {
	width: 30%;
	min-width: 80px;
	max-width: 130px;
}
div#random-teams-section h2 {
	margin-top: 0;
}
.random-list {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}
.random-list dt {
	border: 1px solid #191950;
	line-height: 40px;
	margin-bottom: 6px;
	box-shadow:2px 2px 2px rgba(112,120,160,1);
    border-radius: 5px;
	background: -moz-linear-gradient(top,  rgb(252,252,255) 0%, rgb(224,240,255) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(252,252,255)), color-stop(100%,rgb(224,240,255)));
    background: -webkit-linear-gradient(top,  rgb(252,252,255) 0%,rgb(224,240,255) 100%);
    background: -o-linear-gradient(top,  rgb(252,252,255) 0%,rgb(224,240,255) 100%);
    background: -ms-linear-gradient(top,  rgb(252,252,255) 0%,rgb(224,240,255) 100%);
    background: linear-gradient(to bottom, rgb(252,252,255) 0%,rgb(224,240,255) 100%);
	padding: 2px;
	padding-left: 10px;
}
.random-list dt img {
	border: 1px solid #191950;
	height: 40px;
	width: 40px;
}
.random-list dt span {
	color: #191950;
}
.random-list dt span {
	padding-left: 20px;
}
.random-list dt span {
	padding-right: 20px;
}


/* ------------------------- */
/*   FINANCES                */
/* ------------------------- */
#finances-container {
	min-width: 360px;
}
#finances-container table.table-bordered {
	border: 1px solid #191950;
}
#finances-debts,
#finances-credits {
	padding:0;
}
@media (min-width: 768px) {
	#finances-debts {
		padding-right: 5px;
	}
	#finances-credits {
		padding-left: 5px;
	}
}
#finances-container .table-striped > tbody > tr:nth-child(odd):not(#finances-totalCredits):not(#finances-totalDebts) > td {
   background-color: #E0F0FF;
}
#finances-container .table-striped > tbody > tr:nth-child(even):not(#finances-totalCredits):not(#finances-totalDebts) > td {
   background-color: #F3F8FF;
}
tr#finances-totalDebts td {
	font-weight: bold;
	background-color: #990000;
	color: #E0F0FF;
}
tr#finances-totalCredits td {
	font-weight: bold;
	background-color: #005C1F;
	color: #E0F0FF;
}
#finances-container h3 {
	border-bottom: 1px solid #191950;
	margin: 0px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
#finances-container h3 span {
	color: #191950;
	padding: 0;
}
#finances-transactions table tr td {
	max-width: 0px;
	min-width: 70px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#finances-form #datepicker {
	padding-left: 15px;
	padding-right: 15px;
}
#finances-form #datepicker input {
	color: #006dcc;
	text-align: center;
}


/* ------------------------- */
/*   NOTES                   */
/* ------------------------- */
#notes-container {
	padding: 0;
}
#notes-form {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
#notes-container .table-responsive {
	margin-bottom: 20px;
}
#notes-container .table-responsive table {
	border: 1px solid #191950!important;
    background: linear-gradient(to bottom, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
	background: -moz-linear-gradient(top, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
    background: -o-linear-gradient(top, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
	background: -webkit-linear-gradient(top, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
}
#notes-container .table-responsive table > thead > tr > th {
	border-bottom: 1px solid #191950;
	border-left: 0;
}
#notes-container .table-responsive table > tbody > tr {
	/* background-color: #FFFFFF;
	border: 1px solid #191950; */
	border-top: 1px solid #ccc;
	border-left: 1px solid #191950;
	border-right: 1px solid #191950;
}
#notes-container .table-responsive table > tbody > tr > td {
	border-top: 0;
	border-left: 0;
	vertical-align: middle;
}
#notes-container .table-responsive .notes-playerRow:hover {
	background: -moz-linear-gradient(top,  rgb(224,240,255) 0%, rgb(204,218,250) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(224,240,255)), color-stop(100%,rgb(204,218,250)));
    background: -webkit-linear-gradient(top,  rgb(224,240,255) 0%,rgb(204,218,250) 100%);
    background: -o-linear-gradient(top,  rgb(224,240,255) 0%,rgb(204,218,250) 100%);
    background: -ms-linear-gradient(top,  rgb(224,240,255) 0%,rgb(204,218,250) 100%);
    background: linear-gradient(to bottom, rgb(224,240,255) 0%,rgb(204,218,250) 100%);
}
#notes-container .table-responsive .playerName,
#notes-container .table-responsive .playerValAvg {
	font-weight: 700;
}
#notes-container .table-responsive .playerValAvg {
	color: #2447B2;
}

#note-container,
#note-title {
	min-width: 350px;
}
.slider-div {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 10px;
}
.slider-note {
	border: 2px solid #191950;
	background-color: #E0F0FF;
}
.slider-note .ui-slider-handle {
	border: 2px solid #191950;
}
.slider-note .ui-slider-range {
	background: #E0F0FF;
}
.slider-value input {
	width: 60px;
	border: 1px solid #191950;
	font-weight: bold;
	color: #006dcc!important;
	text-align: center;
	background-color: #E0F0FF!important;
}
#note-submit {
	margin: 0;
	text-align: center;
}
#note-submit div {
	padding: 0;
}

/* ------------------------- */
/*   PROFILE                 */
/* ------------------------- */
#profile-container {
	padding: 10px;
	overflow: auto;
}
#profile-left {
	float: left;
	width: 200px;
	overflow: auto;
	padding: 0;
	margin-right: 20px;
}
.profile-pic {
	display: block;
	position: relative;
	border: 2px solid #191950;
	height: 200px;
	width: 200px;
	overflow: hidden;
	margin-bottom: 20px;
}
.profile-pic img {
	position: absolute;
	opacity: 1;
	width: 100%;
	height: auto;
	transition: transform 0.5s ease-out;
}
.profile-pic-caption, .profile-pic-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.profile-pic-caption {
	opacity: 1;
	background-color: #19195000;
	transition: background-color 0.5s ease;
}
.profile-pic-text {
	display: table;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.profile-pic-text > span {
	display: table-cell;
	vertical-align: middle;
	font-size: 200%;
	font-weight: 700;
	color: #fff;
}
.profile-pic:hover img {
	transform: scale(1.1, 1.1);
}
.profile-pic:hover .profile-pic-caption {
	background-color: #19195066;
}
.profile-pic:hover .profile-pic-text {
	opacity: 1;
}
#profile-left .btn {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
}
#profile-info {
	float: left;
	padding: 0;
}
#profile-info h3 {
	border-bottom: 1px solid #191950;
	margin: 0px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
#profile-info h3 span {
	color: #191950;
	padding: 0;
}

#profile-info table {
	border-left: 5px solid #191950;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
}
#profile-info tr {
	line-height: 30px;
}
#profile-info td:not(.profile-info-label) {
	font-weight: bold;
}
.profile-info-label {
	color: #2447B2;
	padding-right: 20px;
	padding-left: 20px;
	width: 200px;
}

@media (max-width: 768px) {
	#profile-info {
		margin-top: 10px!important;
		margin-left: 0!important;
		width: 100%;
	}
	#profile-info table {
		border-left: 0!important;
	}
	.profile-info-label {
		padding-left: 0!important;
	}
}

/* ------------------------- */
/*   ADMINISTRATION          */
/* ------------------------- */
.tab-content {
	padding: 0;
}
.nav-tabs {
	border-bottom: 2px solid #191950!important;
	margin-bottom: 10px;
}
.nav-tabs li a {
	border-radius: 10px 10px 0 0!important;
	color: #191950;
	font-weight: 700;
	border-bottom: 0!important;
}
.nav-tabs li a:hover {
	background-color: transparent;
	border-color: transparent;
	color: #2447B2;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	background-color: #191950;
	color: #E0F0FF;
	border-top: 2px solid #191950!important;
	border-left: 2px solid #191950!important;
	border-right: 2px solid #191950!important;
	box-shadow: 0.1em 0 0.5em #191950;
}
.admin-panel {
    margin-top: 5px;
    margin-bottom: 5px;
}
.admin-button-new {
    margin-bottom: 10px;
    padding: 0;
}
.admin-table {
    padding: 0;
}
.admin-text-strong {
	font-weight: 700;
}
.admin-text-hi {
	color: #2447B2;
}
.admin-text-uppercase {
	text-transform: uppercase;
}
.admin-text-ellipsis {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*
.admin-text-ellipsis:hover {
	overflow: visible;
}
*/
/*
.admin-table > table > tbody > tr:nth-child(odd) > td {
   background-color: #E0F0FF;
}
.admin-table > table > tbody > tr:nth-child(even) > td {
   background-color: #F3F8FF;
}
*/
.admin-table > table {
	border: 1px solid #191950;
    background: linear-gradient(to bottom, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
	background: -moz-linear-gradient(top, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
    background: -o-linear-gradient(top, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
	background: -webkit-linear-gradient(top, rgb(250,250,250) 0%, rgb(234,234,250) 100%);
}
.admin-table > table > thead > tr > th {
	border-bottom: 1px solid #191950;
}
.admin-table > table > tbody > tr {
	/* background-color: #FFFFFF;
	border: 1px solid #191950; */
	border-top: 1px solid #ccc;
	border-left: 1px solid #191950;
	border-right: 1px solid #191950;
}
.admin-table > table > tbody > tr > td {
	border-top: 0;
	vertical-align: middle;
}
.admin-table > table > tbody > tr:hover > td {
	background: -moz-linear-gradient(top,  rgb(224,240,255) 0%, rgb(204,218,250) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(224,240,255)), color-stop(100%,rgb(204,218,250)));
    background: -webkit-linear-gradient(top,  rgb(224,240,255) 0%,rgb(204,218,250) 100%);
    background: -o-linear-gradient(top,  rgb(224,240,255) 0%,rgb(204,218,250) 100%);
    background: -ms-linear-gradient(top,  rgb(224,240,255) 0%,rgb(204,218,250) 100%);
    background: linear-gradient(to bottom, rgb(224,240,255) 0%,rgb(204,218,250) 100%);
}
.admin-left-column {
	text-align: left;
	padding-left: 1em !important;
}
.admin-right-column {
    text-align: right;
    padding-right: 5px;
}
.admin-center-column {
	text-align: center;
}

#admin-results-form {
    margin-bottom: 10px;
    padding: 10px 0;
}
#admin-results-form select {
	border-color: #191950;
	background-color: rgba(0, 0, 0, 0);
	color: #191950;
	font-weight: bold;
}
#admin-results-form select:hover {
	background-color: #99CCFF;
}
#admin-results-form div.form-group {
    margin: 0;
}

#admin-players-form {
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ------------------------- */
/*   FOOTER                  */
/* ------------------------- */
footer {
	display: table;
	width: 100%;
	background-color: #191950;
	padding: 1% 5% 2% 5%;
	color: #E0F0FF;
	border-top: 3px solid #4F5261;
	height: 80px;
}
footer img {
	height: 60px;
}
footer div {
	display: table-cell;
	height: 100%;
	/* margin: auto; */ 
}
footer div h4 {
	height: 100%;
	vertical-align: middle;
}
.fa {
	padding: 10px;
	font-size: 25px;
	color: #E0F0FF;
}
.fa:hover {
	color: #99CCFF;
}
.icon {
	max-width: 100px;
}

/* --------------------------------------- */
/*         RESPONSIVE XS (<768px)          */
/* --------------------------------------- */
@media (max-width: 768px) {
	/* ----------------------- */
	/*         NAVBAR          */
	/* ----------------------- */
	.navbar-right .dropdown-menu {
		text-align: left;
	}
	/* ----------------------- */
	/*      HOME/WELCOME       */
	/* ----------------------- */
	.landing-content h1 {
		font-size: 400%;
	}
	.landing-content h2 {
		font-size: 250%;
	}
	.landing-content h3 {
		font-size: 150%;
	}
	.landing-content .well-transparent-blue {
		margin: 10px 10px 0 10px;
	}

	/* ----------------------- */
	/*        PLAYERS          */
	/* ----------------------- */
	#players-photos {
		justify-content: center;
	}
	
	/* ----------------------- */
	/*         POPUPS          */
	/* ----------------------- */
	.popup-edit-user-info {
		height: 80vh;
	}
	/* ----------------------- */
	/*         FOOTER          */
	/* ----------------------- */
	footer div h4 {
		font-size: 100%;
	}
	.fa {
		font-size: 15px;
		padding: 5px;
	}
	.icon {
		padding-top: 5%;
		max-width: 100px;
	}
}